/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.3-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: test_
-- ------------------------------------------------------
-- Server version	11.8.3-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `achievements`
--

DROP TABLE IF EXISTS `achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `achievements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `judul_achievement` varchar(255) NOT NULL,
  `kategori` varchar(255) DEFAULT NULL,
  `tingkat` varchar(255) DEFAULT NULL,
  `penyelenggara` varchar(255) DEFAULT NULL,
  `tahun_perolehan` year(4) DEFAULT NULL,
  `file_sertifikat` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `achievements_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `achievements_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `achievements`
--

LOCK TABLES `achievements` WRITE;
/*!40000 ALTER TABLE `achievements` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `achievements` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `admin_users`
--

DROP TABLE IF EXISTS `admin_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL DEFAULT 'biro_akademik',
  `password` varchar(255) NOT NULL,
  `is_activated` tinyint(1) NOT NULL DEFAULT 1,
  `activation_token` varchar(255) DEFAULT NULL,
  `activation_token_expires_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admin_users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `admin_users` VALUES
(1,'Administrator','humas@unida-aceh.ac.id','biro_akademik','$2y$12$YBapYVl5v1mwuFmRZxJafO20azD5jgn9LJOU8zE0jXGPMgRpZr3Me',1,NULL,NULL,NULL,'2026-06-23 13:27:43','2026-06-23 13:36:14');
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `approval_log`
--

DROP TABLE IF EXISTS `approval_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_log` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `draft_skpi_id` bigint(20) unsigned DEFAULT NULL,
  `verifikasi_skpi_id` bigint(20) unsigned DEFAULT NULL,
  `approver_id` bigint(20) unsigned DEFAULT NULL,
  `approver_role` varchar(255) DEFAULT NULL,
  `action` varchar(255) DEFAULT NULL,
  `status_from` varchar(255) DEFAULT NULL,
  `status_to` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `approval_log_draft_skpi_id_foreign` (`draft_skpi_id`),
  KEY `approval_log_verifikasi_skpi_id_foreign` (`verifikasi_skpi_id`),
  KEY `approval_log_approver_id_foreign` (`approver_id`),
  CONSTRAINT `approval_log_approver_id_foreign` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `approval_log_draft_skpi_id_foreign` FOREIGN KEY (`draft_skpi_id`) REFERENCES `draft_skpi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `approval_log_verifikasi_skpi_id_foreign` FOREIGN KEY (`verifikasi_skpi_id`) REFERENCES `verifikasi_skpi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_log`
--

LOCK TABLES `approval_log` WRITE;
/*!40000 ALTER TABLE `approval_log` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `approval_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `cpl`
--

DROP TABLE IF EXISTS `cpl`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cpl` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `prodi_id` bigint(20) unsigned NOT NULL,
  `kode` varchar(255) DEFAULT NULL,
  `kategori` enum('sikap','pengetahuan','keterampilan_umum','keterampilan_khusus') NOT NULL,
  `deskripsi` text NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `urutan` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cpl_prodi_id_foreign` (`prodi_id`),
  CONSTRAINT `cpl_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cpl`
--

LOCK TABLES `cpl` WRITE;
/*!40000 ALTER TABLE `cpl` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `cpl` VALUES
(1,1,'CPL_1','sikap','Bertakwa kepada Tuhan YME dan menjunjung tinggi nilai kemanusiaan.',1,1,'2026-06-22 03:49:22','2026-06-22 03:51:44'),
(2,1,'CPL_2','pengetahuan','Menguasai konsep sistem informasi dan komputasi.',1,2,'2026-06-22 03:49:22','2026-06-22 03:51:39'),
(3,1,'CPL_4','keterampilan_khusus','Mampu berkomunikasi efektif dan bekerja dalam tim.',1,4,'2026-06-22 03:49:22','2026-06-22 03:51:57'),
(4,1,'CPL_3','keterampilan_khusus','Mampu merancang dan mengembangkan perangkat lunak.',1,3,'2026-06-22 03:49:22','2026-06-22 03:51:25');
/*!40000 ALTER TABLE `cpl` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `dokumen_pendukung`
--

DROP TABLE IF EXISTS `dokumen_pendukung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dokumen_pendukung` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `nama_dokumen` varchar(255) DEFAULT NULL,
  `jenis_dokumen` varchar(255) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `ukuran_file` varchar(255) DEFAULT NULL,
  `tipe_file` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dokumen_pendukung_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `dokumen_pendukung_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokumen_pendukung`
--

LOCK TABLES `dokumen_pendukung` WRITE;
/*!40000 ALTER TABLE `dokumen_pendukung` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `dokumen_pendukung` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `draft_skpi`
--

DROP TABLE IF EXISTS `draft_skpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `draft_skpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `prodi_id` bigint(20) unsigned DEFAULT NULL,
  `nomor_skpi` varchar(255) DEFAULT NULL,
  `tahun_lulus` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `tanggal_pengesahan` date DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `ringkasan_id` text DEFAULT NULL,
  `ringkasan_en` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `draft_skpi_mahasiswa_id_foreign` (`mahasiswa_id`),
  KEY `draft_skpi_prodi_id_foreign` (`prodi_id`),
  CONSTRAINT `draft_skpi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE,
  CONSTRAINT `draft_skpi_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `draft_skpi`
--

LOCK TABLES `draft_skpi` WRITE;
/*!40000 ALTER TABLE `draft_skpi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `draft_skpi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `fakultas`
--

DROP TABLE IF EXISTS `fakultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fakultas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_fakultas` varchar(255) NOT NULL,
  `dekan` varchar(255) DEFAULT NULL,
  `akreditasi` varchar(255) DEFAULT NULL,
  `no_sk` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fakultas`
--

LOCK TABLES `fakultas` WRITE;
/*!40000 ALTER TABLE `fakultas` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `fakultas` VALUES
(1,'Fakultas Ilmu Sosial dan Ilmu Politik','Dr. Drs. Akhyar, M.Si','A','SK-FT-2023-001','2026-06-22 03:49:20','2026-06-22 05:07:02');
/*!40000 ALTER TABLE `fakultas` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `karya_ilmiah`
--

DROP TABLE IF EXISTS `karya_ilmiah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `karya_ilmiah` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `judul` varchar(255) NOT NULL,
  `jenis` varchar(255) DEFAULT NULL,
  `tahun` varchar(255) DEFAULT NULL,
  `link_publikasi` varchar(255) DEFAULT NULL,
  `file_bukti` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `karya_ilmiah_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `karya_ilmiah_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karya_ilmiah`
--

LOCK TABLES `karya_ilmiah` WRITE;
/*!40000 ALTER TABLE `karya_ilmiah` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `karya_ilmiah` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `laporan_monev`
--

DROP TABLE IF EXISTS `laporan_monev`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `laporan_monev` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `periode` varchar(255) DEFAULT NULL,
  `prodi_id` bigint(20) unsigned DEFAULT NULL,
  `fakultas_id` bigint(20) unsigned DEFAULT NULL,
  `total_pengajuan` int(11) NOT NULL DEFAULT 0,
  `total_disetujui` int(11) NOT NULL DEFAULT 0,
  `total_ditolak` int(11) NOT NULL DEFAULT 0,
  `rata_rata_waktu_proses` double NOT NULL DEFAULT 0,
  `catatan_evaluasi` text DEFAULT NULL,
  `rekomendasi` text DEFAULT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `laporan_monev_prodi_id_foreign` (`prodi_id`),
  KEY `laporan_monev_fakultas_id_foreign` (`fakultas_id`),
  KEY `laporan_monev_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `laporan_monev_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `laporan_monev_fakultas_id_foreign` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `laporan_monev_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan_monev`
--

LOCK TABLES `laporan_monev` WRITE;
/*!40000 ALTER TABLE `laporan_monev` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `laporan_monev` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `mahasiswa`
--

DROP TABLE IF EXISTS `mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `mahasiswa` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `prodi_id` bigint(20) unsigned NOT NULL,
  `nim` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `nik` varchar(255) DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `agama` varchar(255) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `tempat_tanggal_lahir` varchar(255) DEFAULT NULL,
  `tahun_masuk` varchar(255) DEFAULT NULL,
  `angkatan` varchar(255) DEFAULT NULL,
  `tanggal_masuk` date DEFAULT NULL,
  `status_mahasiswa` varchar(255) DEFAULT NULL,
  `tanggal_lulus` date DEFAULT NULL,
  `gelar` varchar(255) DEFAULT NULL,
  `no_ijazah` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahasiswa_nim_unique` (`nim`),
  KEY `mahasiswa_user_id_foreign` (`user_id`),
  KEY `mahasiswa_prodi_id_foreign` (`prodi_id`),
  CONSTRAINT `mahasiswa_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mahasiswa_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mahasiswa`
--

LOCK TABLES `mahasiswa` WRITE;
/*!40000 ALTER TABLE `mahasiswa` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `mahasiswa` VALUES
(3,9,1,'2020170021','hermansyah',NULL,'123124241','L','Islam',NULL,'ada, 31 Agustu 2005','2020','2024','2020-07-23','Lulus','2024-07-23','Skom','123123','2026-06-22 07:00:18','2026-06-22 07:00:18');
/*!40000 ALTER TABLE `mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `notifikasi`
--

DROP TABLE IF EXISTS `notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifikasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `judul` varchar(255) DEFAULT NULL,
  `pesan` text DEFAULT NULL,
  `tipe` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `link` varchar(255) DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifikasi_user_id_foreign` (`user_id`),
  CONSTRAINT `notifikasi_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi`
--

LOCK TABLES `notifikasi` WRITE;
/*!40000 ALTER TABLE `notifikasi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `notifikasi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `organisasi`
--

DROP TABLE IF EXISTS `organisasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `organisasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `nama_organisasi` varchar(255) NOT NULL,
  `posisi` varchar(255) DEFAULT NULL,
  `tahun_masuk` varchar(255) DEFAULT NULL,
  `tahun_keluar` varchar(255) DEFAULT NULL,
  `deskripsi_peran` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `organisasi_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `organisasi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organisasi`
--

LOCK TABLES `organisasi` WRITE;
/*!40000 ALTER TABLE `organisasi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `organisasi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `password_resets` VALUES
('2020170021@unida-aceh.ac.id','$2y$12$Dygy9OJNQ.AP5HEgpcy4/Oi9JXqcM8v2hupbBgYTtlO/sMJp.qASm','2026-06-22 07:33:25');
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `penerjemahan`
--

DROP TABLE IF EXISTS `penerjemahan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penerjemahan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nim` varchar(255) NOT NULL,
  `bagian` varchar(255) NOT NULL,
  `teks_asli` text NOT NULL,
  `teks_terjemahan` text NOT NULL,
  `diterjemahkan_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `penerjemahan_nim_foreign` (`nim`),
  KEY `penerjemahan_diterjemahkan_oleh_foreign` (`diterjemahkan_oleh`),
  CONSTRAINT `penerjemahan_diterjemahkan_oleh_foreign` FOREIGN KEY (`diterjemahkan_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `penerjemahan_nim_foreign` FOREIGN KEY (`nim`) REFERENCES `mahasiswa` (`nim`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penerjemahan`
--

LOCK TABLES `penerjemahan` WRITE;
/*!40000 ALTER TABLE `penerjemahan` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `penerjemahan` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `pengabdian_masyarakat`
--

DROP TABLE IF EXISTS `pengabdian_masyarakat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengabdian_masyarakat` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `judul_pkm` varchar(255) NOT NULL,
  `skema` varchar(255) DEFAULT NULL,
  `pendanaan` varchar(255) DEFAULT NULL,
  `tahun_pelaksanaan` varchar(255) DEFAULT NULL,
  `anggota_tim` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengabdian_masyarakat_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `pengabdian_masyarakat_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengabdian_masyarakat`
--

LOCK TABLES `pengabdian_masyarakat` WRITE;
/*!40000 ALTER TABLE `pengabdian_masyarakat` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `pengabdian_masyarakat` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `penghargaan`
--

DROP TABLE IF EXISTS `penghargaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penghargaan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `nama_penghargaan` varchar(255) NOT NULL,
  `tingkat` varchar(255) DEFAULT NULL,
  `pemberi_penghargaan` varchar(255) DEFAULT NULL,
  `tahun_perolehan` int(11) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `penghargaan_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `penghargaan_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penghargaan`
--

LOCK TABLES `penghargaan` WRITE;
/*!40000 ALTER TABLE `penghargaan` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `penghargaan` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `prestasi`
--

DROP TABLE IF EXISTS `prestasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestasi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `judul_prestasi` varchar(255) NOT NULL,
  `tingkat` enum('lokal','nasional','internasional') DEFAULT NULL,
  `penyelenggara` varchar(255) DEFAULT NULL,
  `tanggal_perolehan` date DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prestasi_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `prestasi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestasi`
--

LOCK TABLES `prestasi` WRITE;
/*!40000 ALTER TABLE `prestasi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `prestasi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `prodi`
--

DROP TABLE IF EXISTS `prodi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `prodi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fakultas_id` bigint(20) unsigned NOT NULL,
  `nama_prodi` varchar(255) NOT NULL,
  `kaprodi` varchar(255) DEFAULT NULL,
  `akreditasi` varchar(255) DEFAULT NULL,
  `no_sk` varchar(255) DEFAULT NULL,
  `jenjang_kkni` varchar(255) DEFAULT NULL,
  `bahasa_pengantar` varchar(255) NOT NULL DEFAULT 'Indonesia',
  `status_akreditasi` varchar(255) DEFAULT NULL,
  `nomor_sk_akreditasi` varchar(255) DEFAULT NULL,
  `akses_lanjut` varchar(255) DEFAULT NULL,
  `status_profesi` varchar(255) DEFAULT NULL,
  `jenis_jenjang` varchar(255) DEFAULT NULL,
  `nama_prodi_en` varchar(255) DEFAULT NULL,
  `kkni_level` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prodi_fakultas_id_foreign` (`fakultas_id`),
  CONSTRAINT `prodi_fakultas_id_foreign` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prodi`
--

LOCK TABLES `prodi` WRITE;
/*!40000 ALTER TABLE `prodi` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `prodi` VALUES
(1,1,'Pembangunan Sosial','Riantofani, S.Pd.I., M.Si','Baik','SK-PRODI-TI-2023-011','Level 6','Indonesia','sss','123','s2','in','s1','it','ss','2026-06-22 03:49:20','2026-06-22 05:08:15');
/*!40000 ALTER TABLE `prodi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `qr_code`
--

DROP TABLE IF EXISTS `qr_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `qr_code` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `skpi_id` bigint(20) unsigned DEFAULT NULL,
  `mahasiswa_id` bigint(20) unsigned DEFAULT NULL,
  `qr_code_string` text DEFAULT NULL,
  `qr_image_path` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `expired_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `qr_code_mahasiswa_id_foreign` (`mahasiswa_id`),
  KEY `qr_code_skpi_id_foreign` (`skpi_id`),
  CONSTRAINT `qr_code_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qr_code_skpi_id_foreign` FOREIGN KEY (`skpi_id`) REFERENCES `draft_skpi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qr_code`
--

LOCK TABLES `qr_code` WRITE;
/*!40000 ALTER TABLE `qr_code` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `qr_code` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `sertifikasi_kompetensi`
--

DROP TABLE IF EXISTS `sertifikasi_kompetensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sertifikasi_kompetensi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `nama_sertifikasi` varchar(255) NOT NULL,
  `nomor_sertifikat` varchar(255) DEFAULT NULL,
  `penerbit` varchar(255) DEFAULT NULL,
  `tanggal_terbit` date DEFAULT NULL,
  `tanggal_kadaluarsa` date DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sertifikasi_kompetensi_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `sertifikasi_kompetensi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sertifikasi_kompetensi`
--

LOCK TABLES `sertifikasi_kompetensi` WRITE;
/*!40000 ALTER TABLE `sertifikasi_kompetensi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `sertifikasi_kompetensi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(255) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` varchar(255) NOT NULL DEFAULT 'text',
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `settings_setting_key_unique` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `skpi`
--

DROP TABLE IF EXISTS `skpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `skpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned NOT NULL,
  `nomor_skpi` varchar(255) DEFAULT NULL,
  `status` enum('diajukan','diverifikasi_prodi','divalidasi_fakultas','diterjemahkan','disahkan','dicetak','selesai','ditolak') NOT NULL DEFAULT 'diajukan',
  `catatan` text DEFAULT NULL,
  `tanggal_pengajuan` date NOT NULL,
  `tanggal_pengesahan` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `skpi_mahasiswa_id_foreign` (`mahasiswa_id`),
  CONSTRAINT `skpi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skpi`
--

LOCK TABLES `skpi` WRITE;
/*!40000 ALTER TABLE `skpi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `skpi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `stok_blanko`
--

DROP TABLE IF EXISTS `stok_blanko`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `stok_blanko` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tanggal_pengadaan` date DEFAULT NULL,
  `jumlah_masuk` int(11) NOT NULL DEFAULT 0,
  `jumlah_keluar` int(11) NOT NULL DEFAULT 0,
  `stok_tersisa` int(11) NOT NULL DEFAULT 0,
  `keterangan` text DEFAULT NULL,
  `petugas_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `stok_blanko_petugas_id_foreign` (`petugas_id`),
  CONSTRAINT `stok_blanko_petugas_id_foreign` FOREIGN KEY (`petugas_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stok_blanko`
--

LOCK TABLES `stok_blanko` WRITE;
/*!40000 ALTER TABLE `stok_blanko` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `stok_blanko` VALUES
(1,'2025-07-23',100,6,94,NULL,NULL,'2026-06-22 04:02:17','2026-06-22 04:02:49');
/*!40000 ALTER TABLE `stok_blanko` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `template_skpi`
--

DROP TABLE IF EXISTS `template_skpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `template_skpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_pt` varchar(255) DEFAULT NULL,
  `alamat_pt` varchar(255) DEFAULT NULL,
  `bahasa_pengantar` varchar(255) DEFAULT NULL,
  `sk_pendirian` varchar(255) DEFAULT NULL,
  `status_akreditasi` varchar(255) DEFAULT NULL,
  `nomor_sk_akreditasi` varchar(255) DEFAULT NULL,
  `nomor_sk_pt` varchar(255) DEFAULT NULL,
  `persyaratan_penerimaan` text DEFAULT NULL,
  `sistem_penilaian` text DEFAULT NULL,
  `lama_studi_reguler` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `template_skpi`
--

LOCK TABLES `template_skpi` WRITE;
/*!40000 ALTER TABLE `template_skpi` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `template_skpi` VALUES
(1,'Universitas Iskandar Muda','ada','Indonesia','123','A','123','123','123','123','4','2026-06-22 03:55:54','2026-06-22 04:28:24');
/*!40000 ALTER TABLE `template_skpi` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('mahasiswa','prodi','fakultas','pusat_bahasa','biro_akademik','bpm','rektorat') NOT NULL,
  `signature_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `prodi_id` bigint(20) unsigned DEFAULT NULL,
  `fakultas_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_prodi_id_foreign` (`prodi_id`),
  KEY `users_fakultas_id_foreign` (`fakultas_id`),
  CONSTRAINT `users_fakultas_id_foreign` FOREIGN KEY (`fakultas_id`) REFERENCES `fakultas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `verifikasi_skpi`
--

DROP TABLE IF EXISTS `verifikasi_skpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `verifikasi_skpi` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mahasiswa_id` bigint(20) unsigned DEFAULT NULL,
  `prodi_id` bigint(20) unsigned DEFAULT NULL,
  `verifiable_type` varchar(255) DEFAULT NULL,
  `verifiable_id` bigint(20) unsigned DEFAULT NULL,
  `level_verifikasi` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `verifikator_id` bigint(20) unsigned DEFAULT NULL,
  `verifikator_role` varchar(255) DEFAULT NULL,
  `tanggal_pengajuan` timestamp NULL DEFAULT NULL,
  `tanggal_verifikasi` timestamp NULL DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `verifikasi_skpi_mahasiswa_id_foreign` (`mahasiswa_id`),
  KEY `verifikasi_skpi_prodi_id_foreign` (`prodi_id`),
  KEY `verifikasi_skpi_verifikator_id_foreign` (`verifikator_id`),
  CONSTRAINT `verifikasi_skpi_mahasiswa_id_foreign` FOREIGN KEY (`mahasiswa_id`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE,
  CONSTRAINT `verifikasi_skpi_prodi_id_foreign` FOREIGN KEY (`prodi_id`) REFERENCES `prodi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `verifikasi_skpi_verifikator_id_foreign` FOREIGN KEY (`verifikator_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verifikasi_skpi`
--

LOCK TABLES `verifikasi_skpi` WRITE;
/*!40000 ALTER TABLE `verifikasi_skpi` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `verifikasi_skpi` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-06-24  4:51:34
